*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
job_parameter_pi.yaml

job_paramter.yaml

deployment/SparkSinfony-0.1.jar

*.jar
